<div class="container">
  <div class="row" id="filter">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <select class="form-select" aria-label="Manufacturer Select">
        <option selected>All Manufacturers</option>
        <option value="1">One</option>
        <option value="2">Two</option>
      </select>
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <input type="text" class="form-control input-text" placeholder="Asset Name">
    </div>

    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
      <select class="form-select" aria-label="Model Select">
        <option selected>All Models</option>
        <option value="1">One</option>
        <option value="2">Two</option>
      </select>
    </div>
  </div>

    <div class="row">
        <table class='table table-striped '>
          <caption>List Of Assets</caption>
          <thead>
            <tr>
              <th>Asset Name</th>
              <th>Model</th>
              <th>Manufacturer</th>
              <th>Description</th>
              <th>Price</th>
              <th>Color</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Apple Macbook Pro</td>
              <td>Laptop</td>
              <td>Apple</td>
              <td>The Best Macbook Ever</td>
              <td>$145000</td>
              <td>Silver</td>
              <td>
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
<nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <label>Rows Per Page:</label>
    <select class="form-select" id="RowsPerPage">
      <option value="1">10</option>
      <option value="2">20</option>
    </select>
    <div class="row-counter">
      <b>
        <span>1</span> - <span>10</span> of <span>158</span>
      </b>
    </div>
    <div class="pagination-controller">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div>
</nav>